ptbuildopts.h
ptbuildopts.mak
ptlib-config
ptlib.pc
ptlib_cfg.dxy
config.log
config.cache
config.status
Makefile
obj_*_*_*_s
obj_*_*_*_d_s
obj_*_*_*
lib_*_*_*
Release
Debug
autom4te.cache
doxygen.out
html/
cov-int
cov-int.tgz
a.out
*.exe
*.lib
*.pdb
*.proj
*.save
*.layout
*.user
.vs
